@media only screen and (max-width: 868px) {
    /* NAVIGATION BAR RESPONSIVENESS */
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .left-nav{
        flex-direction: column;
    }
    .menu, .right-nav{
        display: none;
    }
    #login, #signup{
        margin: 10px;
        margin-left: 40px;
    }
    .notification{
        margin-bottom: 5px;
    }
    .menu-toggle{
        display: flex;
        position: absolute;
        right: 25px;
        top: 28px;
    }
    /*Toggle classes for responsive navigation bar */
    .resp-nav{
        height: 400px;
    }
    .resp-menu{
        display: flex;
        flex-direction: column;
    }
    .resp-right-nav{
        display: flex;
        flex-direction: column;
    }
}