*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    /* color: white; */
}
#main{
    width: 100%;
    background-color: black;
}
/* NAVIGATION BAR  */
.navbar {
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    height: 80px;
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    /* position: relative; */
    background-color: #06070D;
    transition: all 0.1s;
}
/* Left Side */
.left-nav{
    display: flex;
}
#logo{
    margin-left: 30px;
    width: fit-content;
}
#logo img{
    width: 110px;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 0px;
    margin: 0 12px;
    font-size: 16px;

}

.menu a:hover{
    border-bottom: 2px solid #5EB23F;
}

/* Right side*/
.right-nav{
    display: flex;
    justify-content: space-evenly;
}
.right-nav a{
    text-decoration: none;
}
.right-nav a i{
    font-size: 20px;
}
#post{
    display: none;
    margin-right: 40px;
}
#login, #logout{
    background-color: transparent;
    border: 1px solid white;
    /* margin: 0px 10px; */
    margin-left: 30px;
    color: white;
}
#logout{
    display: none;
    margin-right: 30px;
}
#signup{
    margin: 0px 10px;
    margin-right: 30px;
    padding: 10px 20px;
}

/* LOGIN and SIGNUP PAGE  */
.login-container, .signup-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

/* HOME */
#home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
}
.post{
    border-radius: 6px;
    margin: 13px;
    height: 16.5vw;
    width: 18vw;
    position: relative;
    color: #FAF9F6;
}
.post a:hover{
    text-decoration: underline;
}
.post-img{
    width: 100%;
    border-radius: 30px;
    /* border: 1px solid black; */
    position: relative;
}
.post-img img{
    width: 100%;
    border-radius: 6px;
    /* position: absolute; */
}
.profile-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}
.profile-content a{
    text-decoration: none;
    color: #FAF9F6;
    font-size: 12px;
    margin: 0px 10px;
}
.profile{
    display: flex;
    align-items: center;
}
.profile-pic{
    width: 20px;
    height: 20px;
    border: 1px solid #FAF9F6;
    border-radius: 50%;
    background-color: #FAF9F6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
}
.profile-pic i{
    font-size: 10px;
    color: #06070D;
}
.like-btn{
    background-color: transparent;
    border: none;
    margin: 0px 10px;
    cursor: pointer;
    color: #FAF9F6;
}
.like-btn i{
    font-size: 16px;
}
.like-count{
    font-size: 12px;
}

/* Hover effect for posts  */
.post-hover{
    visibility: hidden;
    transition: all 0.1s;
    position: absolute;
    height: 98.5%;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

/* Click on profile name */
.profile-overview{
    display: none;
    position: absolute;
    bottom: 20%;
    z-index: 9999;
    height: 20vw;
    width: 18vw;
    border-radius: 6px;
    background-color: #FAF9F6;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-overview .profile-pic{
    width: 84px;
    height: 84px;
    margin: 20px 0px;
    border: 2px solid #06070D;
    border-radius: 50%;
}
.profile-overview .profile-pic i{
    font-size: 44px;
}
.profile-overview h2{
    color: #06070D;
    margin: 20px 0px;
}
.profile-overview p{
    color: #444549;
    margin: 20px 0px;
    text-align: center;
}
.profile-overview .follow-btn{
    /* margin: 20px 0px; */
}

/* EXPLORE  */
#explore{
    padding: 10px 0px;
    color: #FAF9F6;
}
#explore-heading{
    text-align: center;
    font-weight: bold;
    font-size: 44px;
    color: #FAF9F6;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.category{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* border: 1px solid red; */
}
.category-tab{
    position: relative;
    width: 11vw;
    height: 6vw;
    cursor: pointer;
}
.category-name{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 10px;
    color: #FAF9F6;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.2s;
}
.category-name:hover{
    background-color: #5EB23F;
}
.category-name h1{
    /* z-index: 9; */
}
.category-tab .background{
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
}
.category-tab .background img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/* EXPLORE CATEGORY POSTS  */
.category-card{
    display: none;
    flex-direction: column;
    align-items: center;
}
.category-cards h1{
    font-size: 64px;
    margin-top: 30px;
}
.category-text{
    width: 60%;
    text-align:center;
    font-size: 28px;
    font-weight: 200;
    line-height: 1;
    margin-bottom: 20px;
}
.category-posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* HIRE  */
#hire{
    padding-top: 60px;
    color: #FAF9F6;
}
.hire-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    background-image: url("../img/hire-banner.webp");
    background-size: cover;
}
.hire-header .heading{
    font-size: 74px;
    line-height: 1;
}
.hire-header .para{
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 20px;
}
.hire-banners{
    display: flex;
}
.hire-banners .banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 90px;
    line-height: 1;
    color: #FAF9F6;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(30px);
    margin: 0px 10px;
    padding: 0 30px;
    border-radius: 18px;
}
.hire-banners .banner i{
    font-size: 28px;
}
.hire-banners .banner p{
    margin: 0px 10px;
    font-weight: 200;
}
/* HIRE BODY  */
.hire-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    padding-top: 10px;
}
.hire-category{
    /* background-color: blue; */
    color: #06070D;
    display: flex;
    align-items: center;
}
.hire-category h2{
    margin: 0px 10px;
}
.hire-category button{
    background-color: transparent;
    border: .5px solid rgb(223, 223, 223);
}

.hire-profiles{
    display: none;
    flex-wrap: wrap;
    width: 67.8%;
}
.hire-profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    padding: 4px;
    margin: 10px;
    width: 21vw;
    height: 24vw;
    border: 1px solid  #d5d4ce;
    background-color: #FAF9F6;
    color: #06070D;
}
.hire-profile .cover{
    height: 25%;
    width: 100%;
    background-image: url('../img/cover-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
}
#graphic-designer .cover{
    background-image: url('../img/cover-1.jpg');
}
#photographer .cover{
    background-image: url('../img/cover-3.jpg');
}
.hire-profile .bio{
    width: 100%;
    position: absolute;
    top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hire-profile .role{
    color: #5EB23F;
    text-transform: uppercase;
    /* font-size: 24px; */
    margin: 34px 0px;
}
.hire-profile .profile-pic{
    border: 2px solid #FAF9F6;
    background-color: transparent;
    height: 70px;
    width: 70px;
}
.hire-profile .profile-pic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.hire-btn{
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    background-color: transparent;
    color: #06070D;
    border: 1px solid  #d5d4ce;
    border-radius: 12px;
    width: 97%;
    height: 40px;
    font-size: 18px;
    transition: all 0.5s;
}
.hire-btn:hover{
    background-color: #5EB23F;
}

/* JOBS  */
#job{
    color: #FAF9F6;
}
#job .hire-header{
    background-image: url('../img/job-banner.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 220px;
}
.job-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    color: #06070D;
}
.job-menu{
    width: 80%;
    display: flex;
    border-bottom: 1px solid #d5d6d9;
    padding: 20px;
    margin-bottom: 20px;
}
.job-menu .job-tab{
    margin: 0px 20px;
    cursor: pointer;
    font-size: 18px;
}
.job-menu .job-tab:hover{
    border-bottom: 1px solid #06070D;
}
.job-cards{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    color: #06070D;
}
.card{
    width: 26vw;
    height: 14vw;
    border: 1px solid #919295;
    padding: 12px;
    background-color: #fff;
    cursor: pointer;
    margin: 5px;
}
.about-company .company-name{
    font-size: 16px;
}
.about-company .company-location{
    font-size: 14px;
    color: #919295;
}
.about-job .job-title{
    font-size: 16px;
}
.about-job .job-description{
    font-size: 14px;
}
.time{
    font-size: 12px;
    color: #b6b5b1;
}