*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* NAVIGATION BAR  */
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-color: #06070D;
    transition: all 0.1s;
}
/* Left Side */
.left-nav{
    display: flex;
}
#logo{
    margin-left: 30px;
    /* margin-top: 5px; */
    width: fit-content;
}
#logo img{
    width: 110px;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 0px;
    margin: 0 12px;
    font-size: 16px;
    transition: all 0.2s;
}
.menu a:hover{
    color: #5EB23F;
}

/* Right side*/
.right-nav{
    display: flex;
    justify-content: space-evenly;
}
.right-nav a{
    text-decoration: none;
}
.right-nav a i{
    font-size: 20px;
}

#login{
    background-color: transparent;
    border: 1px solid white;
    margin: 0px 10px;
    margin-left: 30px;
    color: white;
}
#signup{
    margin: 0px 10px;
    margin-right: 30px;
    padding: 10px 20px;
}