/* general buttons  */
.rounded-button {
    display: inline-block;
    font-size: 16px;
    height: 40px;
    font-weight: bold;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #5EB23F; /* Adjust the background color as needed */
    color: #000; /* Adjust the text color as needed */
    cursor: pointer;
    transition: all 0.3s ease;
}

.rounded-button:hover {
    background-color: #525252;
    color: aliceblue;
}

/* toggle button  */
.menu-toggle {
    cursor: pointer;
    display: none;
    flex-direction: column;
}

.menu-toggle span {
    background-color: #ffffff;
    height: 2px;
    width: 25px;
    margin: 3px 0;
}