/* General Button  */
.rounded-button {
    display: inline-block;
    font-size: 16px;
    height: 40px;
    font-weight: bold;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #5EB23F; /* Adjust the background color as needed */
    color: #000; /* Adjust the text color as needed */
    cursor: pointer;
    transition: all 0.3s ease;
}

.rounded-button:hover {
    background-color: #525252;
    color: aliceblue;
}

/* Toggle Button  */
.menu-toggle {
    cursor: pointer;
    display: none;
    flex-direction: column;
}

.menu-toggle span {
    background-color: #ffffff;
    height: 2px;
    width: 25px;
    margin: 3px 0;
}
/* Navbar switching */
.active{
    border-bottom: 2px solid #5EB23F;
}
/* Toggle color for like button  */
.like-toggle{
    color: #5EB23F;
}

/* Toggle profile overview */
.profile-toggle{
    display: flex;
}
/* Explore tab toggle  */
.active-tab .category-name{
    background-color: #5EB23F;
}
.active-card{
    display: flex;
}

/* Hire profile change  */
.active-profile{
    display: flex;
}
.active-btn{
    background-color: #525252 !important;
    color: #ffffff;
}

/* Job profile change  */
.active-job{
    display: flex;
}
.active-job-tab{
    border-bottom: 1px solid #000;
}